@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
  background: #090b1a;
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 1rem);
}

main {
  max-width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: 0;
}

.container .container__inner {
  background: #1b1938;
  border-radius: 1rem;
}

.container .container__inner .container__img {
  border-radius: 1rem 1rem 0 0;
  background: #aa5cdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .container__inner .container__img img {
  width: 100%;
  mix-blend-mode: multiply;
  -webkit-filter: contrast(70%) brightness(120%);
          filter: contrast(70%) brightness(120%);
}

.container .container__inner .container__description {
  padding: 0 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container .container__inner .container__description h1 {
  margin: 2rem 0;
}

.container .container__inner .container__description h1 span {
  color: #aa5cdb;
}

.container .container__inner .container__description .container__description_about {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.6);
}

.container .container__inner .container__insights {
  margin: 0 0 1.5rem 0;
}

.container .container__inner .container__insights .container__insights_content {
  padding: 1rem;
  text-align: center;
}

.container .container__inner .container__insights .container__insights_content h3 {
  margin: 0;
  font-size: 1.5rem;
}

.container .container__inner .container__insights .container__insights_content p {
  margin: .25rem 0;
  font-family: "Lexend Deca";
  color: rgba(255, 255, 255, 0.6);
  font-size: .75rem;
}

@media screen and (min-width: 1000px) {
  .container .container__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    max-height: 25rem;
    overflow: hidden;
  }
  .container .container__inner .container__img {
    border-radius: 0rem 1rem 1rem 0;
    width: 50%;
  }
  .container .container__inner .container__img img {
    content: url("../images/image-header-desktop.jpg");
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
  }
  .container .container__inner .container__description {
    width: 50%;
    padding: 3rem 5rem;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .container__inner .container__description .container__insights {
    width: 100%;
    margin: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container .container__inner .container__description .container__insights .container__insights_content {
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */